.logo{
    display: none;
}

/*Login*/
.mainContent_containerSpace{
    justify-content: center;
    padding: 0;
}
.signUpButton{
    margin-top: 3.2rem;
}

/*Create account*/
.mainContent_containerUp{
    height: auto;
}
.formSpace{
    justify-content: flex-start;
}

/*Home*/
.cardsContainer{
    grid-template-columns: repeat(auto-fill, 24rem);
}
.productCard{
    width: 24rem;
}
.productCard .productImg{
    height: 24rem;
}

/*Collapsible menu*/
.desktopMenu{
    width: 15rem;
    height: auto;
    border: 0.1rem solid var(--very-ligth-pink);
    border-radius: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}
.desktopMenu ul{
    list-style: none;
}
.desktopMenu ul li{
    text-align: end;
}
.desktopMenu ul li:last-child{
    border-top: 0.1rem solid var(--very-ligth-pink);
}
.desktopMenu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: var(--font-small);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.desktopMenu ul li:last-child a{
    color: var(--hospital-green);
}