.logo{
    display: none;
}

/*Login*/
.mainContent_containerSpace{
    justify-content: center;
    padding: 0;
}
.signUpButton{
    margin-top: 3.2rem;
}

/*Create account*/
.mainContent_containerUp{
    height: auto;
}
.formSpace{
    justify-content: flex-start;
}

/*Home*/
.cardsContainer{
    grid-template-columns: repeat(auto-fill, 24rem);
}
.productCard{
    width: 24rem;
}
.productCard .productImg{
    height: 24rem;
}

