:root{
    --very-ligth-pink: #c7c7c7;
    --text-imput-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --font-small: 1.4rem;
    --font-medium: 1.6rem;
    --font-large: 1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}
ul, li {
  text-decoration: none;
  list-style: none;
}
a{
    text-decoration: none;
}

/*New password HTML*/
.mainContent{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    /*Con display: grid y place-items:center puedes centrar elementos en vertical y horizontal al mismo tiempo*/  
}
.mainContent_container{
    display: flex;
    width: 28.0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 15rem;
    height: auto;
    margin-bottom: 4.8rem;
}
.title{
    font-size: var(--font-large);
    margin-bottom: 1.2rem;
    text-align: center;
}
.subtitle{
    color: var(--very-ligth-pink);
    font-size: var(--font-medium);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-label{
    font-size: var(--font-small);
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.form-input{
    background-color: var(--text-imput-field);
    border: none;
    border-radius: 0.8rem;
    height: 3.2rem;
    font-size: var(--font-medium);
    padding: 0.4rem;
    margin-bottom: 1.2rem;
}
.primaryButton{
    background-color: var(--hospital-green);
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    width: 100%;
    height: 4.8rem;
    font-weight: bold;
    cursor: pointer;
    font-size: var(--font-medium);
}
.loginButton{
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

/*Email sent (password recovery 2)*/
.emailIcon{
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;
    background-color: var(--text-imput-field);
    display: grid;
    place-items: center;
    margin-bottom: 2.4rem;
}
.emailIcon img{
    width: 8rem;
    height: auto;
}
.resend{
    font-size: var(--font-small);
}
.resend span{
    color: var(--very-ligth-pink);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}

/*Login*/
.mainContent_containerSpace{
    height: 100%;
    justify-content: space-between;
    padding-top: 12rem;
    padding-bottom: 2.4rem;
}
.mainContent_containerSpace div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot a{
    color: var(--hospital-green);
    text-decoration: none;
    font-size: var(--font-small);
}
.secondaryButton{
    background-color: var(--white);
    border-radius: 0.8rem;
    border: 0.1rem solid var(--very-ligth-pink);
    color: var(--hospital-green);
    width: 100%;
    height: 4.8rem;
    cursor: pointer;
    font-size: var(--font-medium);
}

/*Create account*/
.mainContent_containerUp{
    height: 100%;
}
.titleLeft{
    width: 100%;
    height: 2rem;
    text-align: left;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
}
.formSpace{
    height: 100%;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.formSpace div{
    display: flex;
    flex-direction: column;
}
.inputName, .inputEmail, .inputPassword{
    margin-bottom: 2.4rem;
}

/*My account*/
.value{
    color: var(--very-ligth-pink);
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
    font-size: var(--font-medium);
}

/*Home*/
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: 2.4rem;
    place-content: center;
}
.productCard{
    width: 14rem;
}
.productCard .productImg{
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 2rem;
}
.productInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;
}
.productInfo div p:nth-child(1){
    font-weight: bold;
    font-size: var(--font-medium);
    margin-bottom: 0.4rem;
}
.productInfo div p:nth-child(2){
    font-size: var(--font-small);
    color: var(--very-ligth-pink);
}

/*Menu*/
.mobileMenu{
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.mobileMenu ul{
    list-style: none;
    margin-bottom: 2.4rem;
}
.mobileMenu ul:nth-child(1) li:last-child{
    border-bottom: 0.1rem solid var(--very-ligth-pink);
}
.mobileMenu ul:nth-child(1) li:last-child a{
    margin-bottom: 4rem;
}
.mobileMenu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: var(--font-small);
    font-weight: bold;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}
.mobileMenu .emailUser{
    font-weight: 400;
    margin-bottom: 0.8rem;
}
.mobileMenu .singOut{
    color: var(--hospital-green);
    font-weight: 400;
    margin-top: 0.8rem;
}

/*My order*/
.myOrderTitle{
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.myOrderMainContainer, .myOrderMainContainer-shoppingCart {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 28rem;
    gap: 1.2rem;
}
.myOrderMainContainer-content{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: var(--text-imput-field);
    border-radius: 0.8rem;
}
.myOrderMainContainer-content p, .myOrderMainContainer-content figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myOrderMainContainer-content p{
    font-size: var(--font-medium);
    font-weight: bold;
}
.myOrderMainContainer-content p:nth-child(1) span:last-child{
    font-weight: lighter;
    color: var(--very-ligth-pink);
    font-size: var(--font-small);
}
.myOrderMainContainer-shoppingCart article{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.myOrderMainContainer-shoppingCart article figure{
    display: flex;
    color: var(--very-ligth-pink);
    font-size: var(--font-medium);
    align-items: center;
}
.myOrderMainContainer-shoppingCart article p{
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: bold;
}
.myOrderMainContainer-shoppingCart figure img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-right: 1.6rem;
}

/*My orders*/
.mainContentMyOrders{
    place-items: start center;
}
.myOrdersMainContainer-content{
    background-color: var(--white);
    padding: 0.8rem;
}
.myOrdersMainContainer-content p:nth-child(2){
margin-left: 30%;
}

/*Desktop menu*/
.desktopMenu{
    display: none;
}

/*Nav bar*/
header{
    width: 100vw;
}
nav{
    display: flex;
    width: 100%;
    height: 6rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--very-ligth-pink);
}
.logoNav{
    display: block;
    margin-bottom: 0;
}
.navLeft{
    display: none;
}
.navRight li:nth-child(1){
    display: none;
}
.navRight li:nth-child(2){
    position: relative;
}
.navRight li:nth-child(2) span{
    font-weight: bold;
    position: absolute;
    right: 0.35rem;
    bottom: 1.86rem;
}

/*Product details*/

.mainContentDetails{
    place-items: start center ;
}
.mainContentDetails_container{
    position: absolute;
    width: auto;
    max-width: 40rem;
}
.closeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    padding: 1rem;
}
.productImgContainer{
    width: auto;
    max-width: 40rem;
    min-width: 28rem;
}
.productImgContainer .productImgDetails{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem;
}
.closeContainer .closeImg{
    cursor: pointer;
}
.productInformation{
    margin-left: 1rem;
    margin-right: 1rem;
}
.productInformation p:nth-child(1){
    font-size: var(--font-medium);
    font-weight: bold;
    margin-top: 3rem;
}
.productInformation p:nth-child(2){
    font-size: var(--font-medium);
    font-weight: lighter;
    color: var(--very-ligth-pink);
    margin-top: 1rem;
}
.productInformation p:nth-child(3){
    font-size: var(--font-medium);
    font-weight: lighter;
    color: var(--very-ligth-pink);
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.addToCartButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Shopping cart*/
.shoppingCartContent{
    place-items: start center;
}
.titleContainer figure{
    display: none;
}
.mainContainer-shoppingCart article div{
    display: flex;
}
.shoppingCartContainer .mainContainer-shoppingCart article figure .deleteImg{
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 2rem;
    object-fit: 0;
    border-radius: 0;
    margin-right: 0;
}
.myOrderMainContainer-total{
    position: absolute;
    bottom: 0;
    width: 28rem;
    padding-bottom: 1rem;
}
.myOrderMainContainer-total p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    font-size: var(--font-medium);
    font-weight: bold;
    background-color: var(--text-imput-field);
    height: 8rem;
    border-radius: 0.8rem;
}
